@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ffffff 1.84%, #fa5620 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #ff7a33 99.55%);
  
  --color-bg: #ffffff;
  --color-footer : rgba(251, 81, 36, 1.0);
  --color-blog: #042c54;
  --color-text: #000000;
  --color-subtext: #191717;
}